.auth {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  justify-content: center;
  padding-top: 100px;
}

.header {
  display: inline-flex;
  margin: auto;
  justify-content: center;
  color: var(--Primary-color, #299d91);
  text-align: center;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  letter-spacing: 3.2px;
  margin-bottom: 36px;
}

.forgot {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  color: var(--Black, #191d23);
  text-align: center;
  align-items: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  width: 342px;
  margin-bottom: 8px;
}

.smallgray {
  color: var(--gray-01, #666);
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
  width: 342px;
  cursor: pointer;
}

.form {
  margin-top: 36px;
}

.label {
  overflow: hidden;
  color: var(--Black, #191d23);
  text-overflow: ellipsis;
  white-space: nowrap;

  /* Medium 16-24 */
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; /* 150% */
  width: 342px;
  height: 24px;
  margin-bottom: 8px;
}

.input {
  display: flex;
  width: 400px;
  height: 48px;
  align-items: flex-start;
  gap: 24px;
  border-radius: 8px;
  border: 1px solid var(--gray-03, #d0d5dd);
}

.button {
  display: flex;
  width: 400px;
  height: 48px;
  padding: 16px 12px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--Primary-color, #299d91);
  color: var(--White, #fff);
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  border: none;
  cursor: pointer;
  margin-top: 32px;
  margin-bottom: 24px;
}
