.grayName {
  color: var(--gray-02, #878787);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px;
  padding-left: 20px;
}

.box {
  display: flex;
  padding: 20px 24px;
  flex-direction: column;
  gap: 20px;
  border-radius: 8px;
  background: var(--White, #fff);
  box-shadow: 0px 20px 25px 0px rgba(255, 0, 0, 0.1);
  width: 352px;
  height: 191px;
}

.balance {
  display: flex;
  width: 100%;
  /* padding-bottom: 0px; */
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--gray-06, #f3f3f3);
  align-items: center;
}

.balance :first-child {
  color: var(--Default-Black, #191919);
  font-family: Inter;
  font-size: 22px;
  font-style: normal;
  font-weight: 800;
  line-height: 32px;
  text-transform: capitalize;
}

.balance :last-child {
  color: var(--Secondary, #525256);
  text-align: right;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;
}

.cart {
  padding: 16px;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
  background: var(--Primary-color, #299d91);
  width: 320px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.cartLeft {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  color: var(--special-bg-2, rgba(255, 255, 255, 0.7));
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;
}

.bigWhite {
  color: var(--White, #fff);
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
}

.cartRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  margin: auto;
}

.mastercart {
  display: flex;
  height: 32px;
  padding: 4px 2px 4px 3px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  justify-content: right;
  align-items: flex-end;
}

.masterbalance {
  color: var(--White, #fff);
  text-align: right;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  gap: 12px;
}

.balanceFooter {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.previous {
  color: var(--gray-04, #d1d1d1);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;

  display: flex;
  width: 80px;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
}

.next {
  color: var(--Default-Black, #191919);
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  text-transform: capitalize;

  display: flex;
  width: 80px;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
  flex-shrink: 0;
}

.dots {
  width: 8px;
  height: 8px;
  gap: 8px;
  display: inline-flex;
  fill: var(--gray-04, #d1d1d1);
}

.nextButton {
  transform: rotate(180deg);
}
